@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    margin: 80px;
    padding :27px 40px;
    display: block;
}

#subtitle {
    background: black;
    color: white;
    margin: 80px;
    padding: 0px 40px;
    display: block;
    
}

.topic {
    background: lightgray;
    display: inline-block ;
    margin: 70px;
    
}

